# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environments
gans/     # virtual environment for GANs 

# IDE/editor settings
.vscode/
.idea/
*.swp
*.swo

# Checkpoints and weights
checkpoints/
*.ckpt
*.pth
*.pt

# Generated samples and FID outputs
samples/*
!samples/*.png        # allow sample PNGs to be committed
generated/
fid_fake/
fid_real/

# TensorBoard / Lightning logs
tb_logs/
lightning_logs/

# Data (large dataset, don't commit)
data/
*.zip
*.tar
*.gz
data/images_resized/

# OS-specific junk
.DS_Store
Thumbs.db
